body {
  margin: 0;
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

a:link,
a:visited {
  color: white;
  /* padding: 14px 25px; */
  /* text-align: center; */
  text-decoration: none;
  /* display: inline-block; */
}

/* .logo-container {
  height: 30px;
  width: 120px;
  display: flex;
  align-items: center;
} */

nav {
  position: sticky;
  top: 0;
  /* left: -10em; */
  margin-top: -50em;
  /* margin-left: -40em; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 68px;
  width: 100%;
  padding: 0 32px;
  color: white;
  text-shadow: 0 0 5px black;
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

nav ul li {
  display: inline-block;
  /* list-style: none; */
  font-size: 24px;
  font-weight: 500;
  padding: 4px 32px;
}

.background {
  transform: translateZ(-10px) scale(2);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.foreground {
  margin-top: 50em;
  margin-left: -50em;
  transform: translateZ(-5px) scale(1.25);
}

.background,
.foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.title {
  position: absolute;
  font-size: 7rem;
  color: white;
  text-shadow: 0 0 5px black;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  z-index: -2;
  /* background-color: #333;
  color: white;
  height: 50vh; */
}

.explore-div {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* height: 48px; */
  top: 60em;
  height: 10em;
  width: 100%;
  padding: 0 32px;
  color: white;
  text-shadow: 0 0 5px black;
  /* background-color: rgba(100, 100, 100, 0.75); */
}

.explore-h2 {
  /* position: absolute; */
  /* top: 10em; */
  font-size: 7rem;
  /* color: white;
  text-shadow: 0 0 5px black; */
}

.explore-bg {
  transform: translateZ(-10px) scale(2);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.explore-fg {
  margin-top: 25em;
  margin-left: 50em;
  transform: translateZ(-5px) scale(1.25);
}

.explore-bg,
.explore-fg {
  position: absolute;
  top: 60em;
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* z-index: -1; */
}

#forge {
  z-index: -3;
}

.forge-div {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* height: 48px; */
  top: 120em;
  height: 10em;
  width: 100%;
  padding: 0 32px;
  color: white;
  text-shadow: 0 0 5px black;
  /* background-color: rgba(100, 100, 100, 0.75); */
}

.forge-h2 {
  /* position: absolute; */
  /* top: 10em; */
  font-size: 7rem;
  /* color: white;
  text-shadow: 0 0 5px black; */
}

.forge-bg {
  transform: translateZ(-10px) scale(2);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.forge-fg {
  margin-top: 25em;
  margin-left: -50em;
  transform: translateZ(-5px) scale(1.25);
}

.forge-bg,
.forge-fg {
  position: absolute;
  top: 120em;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  /* margin-top: 100%; */
}

.footer-signup {
  position: absolute;
  top: 15em;
  left: 10em;
  font-size: 7rem;
  color: white;
  text-shadow: 0 0 5px black;
  transition: 0.5s;
}

.footer-signup:hover {
  color: rgb(99, 57, 9);
  text-shadow: 10px -10px 10px rgb(8, 89, 180);
}

.footer-bg {
  position: absolute;
  top: 120em;
  height: 60%;
  width: 100%;
  object-fit: cover;
  z-index: -4;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.footer-nav {
  /* position: absolute; */
  /* margin-top: -50em; */
  position: absolute;
  /* bottom: 0; */
  margin-top: 142%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 68px;
  width: 100%;
  padding: 0 32px;
  color: white;
  text-shadow: 0 0 5px black;
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.footer-nav ul li {
  display: inline-block;
  /* list-style: none; */
  font-size: 24px;
  font-weight: 500;
  padding: 4px 32px;
}
