* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  overflow-x: hidden;
  position: relative;
  display: block;
}

a:link,
a:visited {
  color: white;
  text-decoration: none;
  /* padding: 14px 25px; */
  /* text-align: center; */
  /* display: inline-block; */
}

header {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  width: 100%;
  z-index: 999;
}

nav ul li {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  padding: 4px 32px;
}

.header-nav {
  position: sticky;
  top: 0;
  /* margin-top: 50em; */
}

footer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* margin-top: 100%; */
}

.footer-nav {
  position: absolute;
  bottom: 0;
}

.header-nav,
.footer-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  width: 100%;
  padding: 0 32px;
  color: white;
  text-shadow: 0 0 5px black;
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.wrapper {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

section {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid yellow; */
}

.wrapper__layer::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  /* border-top: 2px solid black;
  border-bottom: 2px solid black; */
  /* border: 2px solid blue; */
}

.wrapper__layer--header-bg::after {
  background-image: url("images/game-background-3.jpeg");
  transform: translateZ(-1px) scale(2);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.wrapper__layer--header-bg {
  scroll-snap-align: start;
}

.wrapper__layer--header-fg {
  background: url("images/dual-blade-class.png") no-repeat center / cover;
  transform: translateZ(-0.5px) scale(1.25);
  top: -45em;
  left: -25em;
  z-index: 1;
}

.wrapper__layer--explore-bg::after {
  background-image: url("images/game-background-4.jpeg");
  transform: translateZ(-1px) scale(2);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.wrapper__layer--explore-bg {
  scroll-snap-align: start;
}

.wrapper__layer--explore-fg {
  background: url("images/explorers-class.png") no-repeat center / cover;
  transform: translateZ(-0.5px) scale(1.25);
  top: -45em;
  left: 25em;
  z-index: 1;
}

.wrapper__layer--forge-bg::after {
  background-image: url("images/game-background-2.jpeg");
  transform: translateZ(-1px) scale(2);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.wrapper__layer--forge-bg {
  scroll-snap-align: start;
}

.wrapper__layer--forge-fg {
  background: url("images/cygnus-knights-class.png") no-repeat center / cover;
  transform: translateZ(-0.5px) scale(1.25);
  top: -45em;
  left: -25em;
  z-index: 1;
}

.wrapper__layer--footer-bg::after {
  background-image: url("images/game-bg-6.jpeg");
  transform: translateZ(-1px) scale(2);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.wrapper__layer--footer-bg {
  scroll-snap-align: start;
}

.wrapper__static {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0 0 5px black;
  z-index: 2;
  /* border: 2px solid red; */
}

.title-div {
  top: -40em;
}

.title-h1 {
  position: absolute;
  font-size: 7rem;
}

.explore-div {
  top: -50em;
}

.explore-h2 {
  position: absolute;
  font-size: 7rem;
}

.forge-div {
  top: -50em;
}

.forge-h2 {
  position: absolute;
  font-size: 7rem;
}

.footer-signup-div {
  top: -30em;
}

.footer-signup-h2 {
  position: absolute;
  font-size: 7rem;
  transition: 0.5s;
}

.footer-signup-h2:hover {
  color: rgb(99, 57, 9);
  text-shadow: 10px -10px 10px rgb(8, 89, 180);
}

.explore-div {
  transform: translateX(300px);
  opacity: 0;
  transition: 1.5s;
}

.explore-div.show {
  transform: translateX(0);
  opacity: 1;
}

.forge-div {
  transform: translateX(-300px);
  opacity: 0;
  transition: 1.5s;
}

.forge-div.show {
  transform: translateX(0);
  opacity: 1;
}

.footer-signup-div {
  transform: translateY(300px);
  opacity: 0;
  transition: 2.5s;
}

.footer-signup-div.show {
  transform: translateY(0);
  opacity: 1;
}

.footer-bg {
  /* position: absolute; */
  /* top: -50em; */
  /* height: 60%; */
  /* width: 100%; */
  /* object-fit: cover; */
  /* z-index: -4; */
  /* border-top: 2px solid black; */
  /* border-bottom: 2px solid black; */
  /* scroll-snap-align: start; */
}
