* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  overflow-x: hidden;
  position: relative;
}

a:link,
a:visited {
  color: white;
  text-decoration: none;
  /* padding: 14px 25px; */
  /* text-align: center; */
  /* display: inline-block; */
}

header {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  width: 100%;
  z-index: 999;
}

nav ul li {
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
  padding: 4px 32px;
}

.header-nav {
  position: sticky;
  top: 0;
  /* margin-top: 50em; */
}

.footer-nav {
  position: absolute;
  bottom: 0;
  margin-bottom: -95.1em;
}

.header-nav,
.footer-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 68px;
  width: 100%;
  padding: 0 32px;
  color: white;
  text-shadow: 0 0 5px black;
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.wrapper {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

section {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid yellow;
}

.wrapper__layer::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  border: 2px solid blue;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.wrapper__layer--header-bg::after {
  background-image: url("images/game-background-3.jpeg");
  transform: translateZ(-1px) scale(2);
}

.wrapper__layer--header-fg {
  background: url("images/dual-blade-class.png") no-repeat center / cover;
  transform: translateZ(-0.5px) scale(1.25);
  top: -45em;
  left: -25em;
}

.wrapper__layer--explore-bg::after {
  background-image: url("images/game-background-4.jpeg");
  transform: translateZ(-1px) scale(2);
}

.wrapper__layer--explore-fg {
  background: url("images/explorers-class.png") no-repeat center / cover;
  transform: translateZ(-0.5px) scale(1.25);
  top: -45em;
  left: 25em;
}

.wrapper__static {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0 0 5px black;
  border: 2px solid red;
  z-index: 2;
}

.title-div {
  top: -40em;
}

.title-h1 {
  position: absolute;
  font-size: 7rem;
}

.explore-div {
  top: -50em;
}

.explore-h2 {
  position: absolute;
  font-size: 7rem;
}

#forge {
  z-index: -3;
}

.forge-div {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* height: 48px; */
  top: 120em;
  height: 10em;
  width: 100%;
  padding: 0 32px;
  color: white;
  text-shadow: 0 0 5px black;
  /* background-color: rgba(100, 100, 100, 0.75); */
}

.forge-h2 {
  /* position: absolute; */
  /* top: 10em; */
  font-size: 7rem;
  /* color: white;
  text-shadow: 0 0 5px black; */
}

.forge-bg {
  transform: translateZ(-10px) scale(2);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.forge-fg {
  margin-top: 25em;
  margin-left: -50em;
  transform: translateZ(-5px) scale(1.25);
}

.forge-bg,
.forge-fg {
  position: absolute;
  top: 120em;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  /* margin-top: 100%; */
}

.footer-signup {
  position: absolute;
  top: 15em;
  left: 10em;
  font-size: 7rem;
  color: white;
  text-shadow: 0 0 5px black;
  transition: 0.5s;
}

.footer-signup:hover {
  color: rgb(99, 57, 9);
  text-shadow: 10px -10px 10px rgb(8, 89, 180);
}

.footer-bg {
  position: absolute;
  top: 120em;
  height: 60%;
  width: 100%;
  object-fit: cover;
  z-index: -4;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.explore-div {
  transform: translateX(300px);
  opacity: 0;
  transition: 1.5s;
}

.explore-div.show {
  transform: translateX(0);
  opacity: 1;
}

.forge-div {
  transform: translateX(-300px);
  opacity: 0;
  transition: 1.5s;
}

.forge-div.show {
  transform: translateX(0);
  opacity: 1;
}

.footer-signup {
  transform: translateY(300px);
  opacity: 0;
  transition: 2.5s;
}

.footer-signup.show {
  transform: translateY(0);
  opacity: 1;
}
